* {
  font-family: 'Source Sans Pro', sans-serif;
}

body, .App {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

button {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 18px;
}

p {
  margin: 10px 0;
}

.App {
  display: flex;
  flex-direction: row;
}

.sidebarContainer {
  width: 30%;
  height: 100vh;
  border-right: 1px solid black;
  overflow-y: scroll;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.sidebarNotes {
  display: flex;
  flex-direction: column;
}

.sidebarNotes button {
  color: #FF3B30;
}

.sidebarNote {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebarNote:hover {
  background-color: rgba(100, 210, 255, 0.3);
}

.sidebarNote.active {
  background-color: #0A84FF;
}

.sidebarNoteTitle {
  display: flex;
  justify-content: space-between;
}

.sidebarNoteTitle strong {
  font-size: 20px;
  margin-bottom: 5px;
}

.noActiveNote {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  text-align: center;
  color: black;
  font-size: 32px;
}

.mainContainer {
  width: 70%;
}

.mainNoteEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.mainNoteEdit input {
  width: 100%;
  font-size: 32px;
  margin-bottom: 30px;
}

.mainNoteEdit textarea {
  width: 100%;
  height: 35vh;
  font-size: 24px;
}

.mainNotePreview {
  background-color: lightgray;
  height: calc(100% - 100px);
  margin: 0;
  padding: 15px 30px;
}

.mainNotePreviewTitle {
  padding: 0;
}

.mainNoteLivePreview p {
  font-size: 20px;
}